* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0f172a;
  color: white;
  line-height: 1.6;
}

header {
  padding: 20px 8%;
  background: #020617;
  position: sticky;
  top: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h2 {
  color: #38bdf8;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

.hero {
  min-height: 90vh;
  display: flex;
  align-items: center;
  padding: 0 8%;
}

.hero h1 {
  font-size: 55px;
  max-width: 800px;
  margin: 15px 0;
}

.hero p {
  max-width: 650px;
  color: #cbd5e1;
}

.tag {
  color: #38bdf8;
  font-weight: bold;
}

section {
  padding: 80px 8%;
}

section h2 {
  font-size: 35px;
  margin-bottom: 20px;
  color: #38bdf8;
}

.buttons {
  margin-top: 30px;
}

.btn {
  display: inline-block;
  background: #38bdf8;
  color: #020617;
  padding: 12px 22px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  margin-right: 10px;
}

.secondary {
  background: transparent;
  color: #38bdf8;
  border: 1px solid #38bdf8;
}

.cards,
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 20px;
}

.cards div,
.project {
  background: #1e293b;
  padding: 25px;
  border-radius: 14px;
  border: 1px solid #334155;
}

.project h3 {
  color: white;
  margin-bottom: 10px;
}

.project p,
section p {
  color: #cbd5e1;
  max-width: 800px;
}

footer {
  text-align: center;
  padding: 25px;
  background: #020617;
  color: #94a3b8;
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    gap: 15px;
  }

  .hero h1 {
    font-size: 38px;
  }

  nav a {
    margin: 8px;
  }
}